@import 'lib/mixins';
@import 'lib/variables';
@import 'lib/normalize';
@import 'lib/flexbox';

*, *::after, *::before {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: 'Roboto', sans-serif;
}

header {
  background: $color-mine-shaft;
  text-align: center;
  padding: em(10);
  color: $color-white;
  h1 {
    margin: 0;
  }
}

footer {
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  padding:em(10);
  text-align: center;
  background:$color-mine-shaft;
  color:$color-white;
}

nav{
  padding: em(20);
  ul {
    @include flexbox();
    @include justify-content(center);
    list-style: none;
    padding:0;
    margin:0;
    li {
      margin:0 em(10);
    }
  }
}

.filters {
  @include flexbox();
  @include justify-content(center);
  list-style: none;
  padding: 0 em(10);
  margin:0;
  li{
    margin: 0 em(10);
    button {

    }
  }
}

.tasks {
  width: 100%;
  max-width: em(800);
  margin: em(20) auto;
  border-spacing: 0;
  border-collapse: collapse;
  thead {
    tr{
      td{
        background: $color-mine-shaft;
        color:$color-white;
        border-bottom: none;
      }
    }
  }
  td {
    padding: em(6);
    border-bottom: em(1) solid $color-mine-shaft;
    &.links {
      text-align: right;
      width:em(180);
      a {
        @include transition(background linear 0.25s);
        text-transform: none;
        display:inline-block;
        margin:0 em(4);
        background: $color-mine-shaft;
        color: $color-white;
        padding: em(4);
        text-decoration: none;
        &:hover {
          background: $color-black;
        }
      }
    }
  }
}

.form {
  width: 100%;
  max-width: em(800);
  margin: 0 auto;
  padding: em(20);
  &-message {
    margin: em(10);
    padding: em(10);
    text-align: center;
    font-weight: bold;
    &-success {
      color: $color-success;
      background: $color-success-bg;
    }
    &-error {
      color: $color-error;
      background: $color-error-bg;
    }
  }
  &-item {
    margin-bottom: em(20);
    width: 100%;
    textarea,
    input {
      width:100%;
    }
    textarea {
      resize: none;
      height: em(200);
    }
    &-label {
      display:block;
    }
    &-dates {
      @include flexbox();
      @include justify-content(space-between);
      .form-item {
        width: 40%;
      }
    }
  }
  &-submit {
    text-align: center;
    &-button {
      margin:0 em(10);
      padding: em(4);

    }
    .hideDelete {
      display:none;
    }
  }
}

.task {
  width: 100%;
  max-width: em(800);
  margin: 0 auto;
  padding: em(20);
  &-title {
    margin-bottom: em(10);
  }
  &-description {
    margin-bottom: em(10);
  }
  &-date {
    margin-bottom: em(10);
    &::before {
      display: block;
      color: $color-mine-shaft;
      text-transform: uppercase;
      font-size: em(12);
    }
  }
  &-dueDate {
    &::before {
      content: 'Due Date';
    }
  }
  &-completedDate {
    &::before {
      content: 'Completed Date';
    }
  }
}
